/* src/App.css */
.app {
  display: flex;
}

.flow-builder {
  width: 70%;
  height: 100vh;
}

aside {
  width: 15%;
  padding: 10px;
  background: #f4f4f4;
  border-right: 1px solid #ddd;
}

.settings-panel {
  width: 15%;
  padding: 10px;
  background: #f4f4f4;
  border-left: 1px solid #ddd;
}

.dndnode {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  background: white;
  border: 1px solid #ddd;
  cursor: grab;
  display: flex;
  justify-content: center;
}

.text-node {
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  text-align: center;
}

.msgPng{
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 0px;
}

.msgText{
  margin: 0px;
  margin-left: 5px;
}
